<ion-header [translucent]="true">
  <ion-toolbar class="ion-align-items-center custom-header">
    <ion-thumbnail slot="start" class="center-horizontal ">
      <img src="../../../assets/Imagenes/logoDuoc.png" alt="Imagen en el toolbar" />
    </ion-thumbnail>
    <ion-title class="ion-text-center">Correcto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondoHome">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Correcto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="mi-card custom-card">
    <ion-card-header>
      <img class="img_e" alt="hombre" src="../../../assets/Imagenes/R.jpg" />
      <h1 class="blanco">¡CORRECTO!</h1>
    </ion-card-header>
  
    <ion-card-content>
      <br>
      <h2 *ngIf="usuario">Hola  ¡{{ usuario.nombre }} {{ usuario.apellido }}!</h2>  
      <H2>Tu contraseña es:</H2>
      <p *ngIf="usuario">{{ usuario.password }}</p>  
    <h1></h1>
    </ion-card-content>
    <h1></h1>
    <ion-button (click)="ingreso()" expand="block" shape="round" class="botonNaranja">
      volver al login
    </ion-button>    <h1></h1>
  </ion-card>




</ion-content>
