ion-content.fondoHome{
  background-repeat: no-repeat;
  background-size: contain;
}

.centrar {
  text-align: center; /* Centra el texto horizontalmente */
}

.subtitulo-grande {
  font-size: 24px; /* Ajusta el tamaño del texto según tus preferencias */
}