.marco {
  padding: 16px;
}

.borde-celda {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}

.centrar {
  text-align: center; /* Centra el texto horizontalmente */
}

.subtitulo-grande {
  font-size: 24px; /* Ajusta el tamaño del texto según tus preferencias */
}