<ion-header [translucent]="true">
  <ion-toolbar class="ion-align-items-center custom-header">
    <ion-thumbnail slot="start" class="center-horizontal">
      <img src="../../../assets/Imagenes/logoDuoc.png" alt="Imagen en el toolbar" />
    </ion-thumbnail>
    <ion-title class="ion-text-center">Recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondoHome">
  <ion-card class="mi-card custom-card">
    <img alt="Silhouette of mountains" src="../../../assets/Imagenes/recuperar.webp" />
    <ion-card-header>
      <ion-card-title class="blanco">Recuperar contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <h2>Paso 1: ingresa tu correo</h2>
      <ion-input type="text" [(ngModel)]="correo" placeholder="Ingresa tu correo"></ion-input>
      <!-- Agrega un espacio entre el input y el botón usando un <div> -->
      <div class="espacio"></div>
      <ion-button class="botonNaranja" shape="block" (click)="pregunta()">
        Siguiente
      </ion-button>
      <ion-button class="botonNaranja" shape="block" (click)="ingreso()">Volver al Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
