ion-content{
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}

.custom-header {
  --ion-toolbar-background: rgb(43, 42, 42);
  --ion-tab-bar-background: rgb(43, 42, 42);
  --ion-card-background: rgb(43, 42, 42);
  color: white; /* Cambiar el color del texto a blanco o el que desees */
}

/* Cambiar el fondo de la tarjeta a negro */

.mi-card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 80%; /* Ancho deseado */
max-width: 700px; /* Ancho máximo deseado */
margin: 50px auto; /* Centra horizontalmente el card */
text-align: center; /* Centra el texto dentro de la tarjeta */
}